body {
  font-size: larger;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}







header {
  background-color: aqua;
}

nav {
  background-color: rgb(223, 218, 218);
  display: inline-block;
  width: 80%;
}

/* li a {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;
} */

nav img {
  width: 10%;
}

main {
  background-color: black;
  font-size: medium;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.grid img {
  width: 100%;
  height: auto;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #333;
  padding: 10px;
}

.flex p {
  background: #555;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

footer {
  background-color: yellow;
}

h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  line-height: normal;
}



